<%= form_with model: @season, class: "text-center border border-light p-5", local: true do |form| %>
  <h5>Наименование</h5>
  <%= form.text_field :title, class: 'form-control mb-4', placeholder: 'Наименование', id: 'team'%>
  <% if @season.errors[:title].any? %>
    <div id="error_explanation" class="text-left orange-text">
      <ul style="list-style-type: none; padding-left: 0">
        <% @season.errors.full_messages_for(:title).each do |msg| %>
          <li><small><%= msg %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.submit 'Подтвердить', class: 'btn btn-info btn-block my-4' %>
<% end %>

<style>
  html, body {
    height: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    width: 100%;
  }
</style>