<div class="container text-center">
  <div class="row">
    <%= link_to 'Назад', seasons_path, class: 'btn white-text btn-sm cyan btn-rounded' %>
  </div>
  <p class="h3 mb-4">Редактировать данные сезона</p>
  <%= render 'form' %>
</div>