<div class="container col-md-4" style="margin-top: 20px;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'text-center border shadow p-3 mb-5 bg-white rounded'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <h2><%= t('.sign_up') %></h2>
    <div class="form-row mb-4">
      <div class="col">
        <h6>ФИО<span class="red-text" title="Обязательно для заполнения">*</span></h6>
        <%= f.text_field :fio, class: 'form-control', placeholder: 'ФИО' %>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <h6>Электронная почта<span class="red-text" title="Обязательно для заполнения">*</span></h6>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>

    <div class="row">
      <div class="form-row mb-4 col-md-6" style="padding-right: 0px">
        <div class="col" style="padding-right: 0px">
          <h6>Пароль<span class="red-text" title="Обязательно для заполнения">*</span></h6>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль' %>
          <% if @minimum_password_length %>
            <small><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %><br />
        </div>
      </div>
      <div class="form-row mb-4 col-md-6" style="padding-right: 0px">
        <div class="col" style="padding-right: 0px">
          <h6>Подтверждение пароля<span class="red-text" title="Обязательно для заполнения">*</span></h6>
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтверждение пароля' %>
        </div>
      </div>
    </div>

  <div class="actions">
    <%= f.submit t('.sign_up'), class: 'btn btn-info my-4 btn-block', style: 'margin-top: 0px !important; margin-bottom: 10px !important;' %>
  </div>
    <%= render "devise/shared/links" %>
<% end %>

</div>