<div class="container">
  <ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#matches">Ближайшие матчи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#previous">Недавние матчи</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#added">Последние добавления</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="matches">
      <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"> Добавить матч</i>"), new_match_path, class: 'blue-text' %>
      <div class="row" style="margin-top: 10px;">
        <% @weeks.each do |week| %>
        <div class="col-md-3" style="margin-bottom: 15px;">
          <div>
            <div class="blue-grey" style="padding: 15px 15px 15px 15px">
              <div class="row">
                <div class="col-md-6">
                  <small class="white-text"><%= week.datatime %></small>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to raw("<i class="'\'fa fa-eye\''" aria-hidden="'\'true\''"></i>"), match_path(week), class: 'cyan-text' %>
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_match_path(week), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), match_path(week), class: 'red-text',
                                method: :delete,
                                data: { confirm: 'Вы уверены, что хотите удалить данный матч?' } %>
                </div>
              </div>
              <div class="row" style="padding: 5px 15px 5px 15px">
                <% week.teams.each_with_index { |team, i| %>
                <% if i == 0 %>
                <h5 class="white-text" style="margin-bottom: 0px"><%= team.title %>&nbsp;vs&nbsp;</h5>
                <% else %>
                <h5 class="white-text" style="margin-bottom: 0px"><%= team.title %></h5>
                <% end %>
                <% } %>
              </div>
              <p class="white-text" style="margin-bottom: 10px; font-size: 12px"><%= week.description %></p>
              <% week.tags.each { |tag| %>
              <span class="badge badge-pill badge-primary">#<%= tag.title %></span>
              <% } %>
              <br>
              <div class="row" style="padding: 10px 15px 5px 15px">
                <small class="white-text"><%= week.post_type.title %></small>
              </div>
            </div>
          </div>
          <div>
            <table class="table table-striped" style="margin-bottom: 5px;">
              <tbody>
                <tr>
                  <td>Лига</td>
                  <td class="text-right"><%= week.league.title %></td>
                </tr>
                <tr>
                  <td>Соревнование</td>
                  <td class="text-right"><%= week.competition %></td>
                </tr>
                <tr>
                  <td>Сезон</td>
                  <td class="text-right"><%= week.season.title %></td>
                </tr>
                <tr>
                  <td>Тур</td>
                  <td class="text-right"><%= week.tour %></td>
                </tr>
                <tr>
                  <td>Тип команды</td>
                  <td class="text-right"><%= week.gender %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade show" id="previous">
      <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"> Добавить матч</i>"), new_match_path, class: 'blue-text' %>
      <div class="row" style="margin-top: 10px;">
        <% @previous.each do |prev| %>
        <div class="col-md-3" style="margin-bottom: 15px;">
          <div>
            <div class="blue-grey" style="padding: 15px 15px 15px 15px">
              <div class="row">
                <div class="col-md-6">
                  <small class="white-text"><%= prev.datatime %></small>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to raw("<i class="'\'fa fa-eye\''" aria-hidden="'\'true\''"></i>"), match_path(prev), class: 'cyan-text' %>
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_match_path(prev), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), match_path(prev), class: 'red-text',
                                method: :delete,
                                data: { confirm: 'Вы уверены, что хотите удалить данный матч?' } %>
                </div>
              </div>
              <div class="row" style="padding: 5px 15px 5px 15px">
                <% prev.teams.each_with_index { |team, i| %>
                <% if i == 0 %>
                <h5 class="white-text" style="margin-bottom: 0px"><%= team.title %>&nbsp;vs&nbsp;</h5>
                <% else %>
                <h5 class="white-text" style="margin-bottom: 0px"><%= team.title %></h5>
                <% end %>
                <% } %>
              </div>
              <p class="white-text" style="margin-bottom: 10px; font-size: 12px"><%= prev.description %></p>
              <% prev.tags.each { |tag| %>
              <span class="badge badge-pill badge-primary">#<%= tag.title %></span>
              <% } %>
              <br>
              <div class="row" style="padding: 10px 15px 5px 15px">
                <small class="white-text"><%= prev.post_type.title %></small>
              </div>
            </div>
          </div>
          <div>
            <table class="table table-striped" style="margin-bottom: 5px;">
              <tbody>
                <tr>
                  <td>Лига</td>
                  <td class="text-right"><%= prev.league.title %></td>
                </tr>
                <tr>
                  <td>Соревнование</td>
                  <td class="text-right"><%= prev.competition %></td>
                </tr>
                <tr>
                  <td>Сезон</td>
                  <td class="text-right"><%= prev.season.title %></td>
                </tr>
                <tr>
                  <td>Тур</td>
                  <td class="text-right"><%= prev.tour %></td>
                </tr>
                <tr>
                  <td>Тип команды</td>
                  <td class="text-right"><%= prev.gender %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="added">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-12 row">
            <h4>Команды</h4>
            <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"></i>"), new_team_path, class: 'blue-text' %>
          </div>
          <ul class="list-group">
            <% @teams.each do |team| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <%= team.title %>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_team_path(team), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), team_path(team), class: 'red-text',
                              method: :delete,
                              data: { confirm: 'Вы уверены, что хотите удалить данную команду?' } %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 row">
            <h4>Типы поста</h4>
            <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"></i>"), new_post_type_path, class: 'blue-text' %>
          </div>
          <ul class="list-group">
            <% @post_types.each do |post_type| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <%= post_type.title %>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_post_type_path(post_type), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), post_type_path(post_type), class: 'red-text',
                              method: :delete,
                              data: { confirm: 'Вы уверены, что хотите удалить данный тип?' } %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 row">
            <h4>Сезоны</h4>
            <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"></i>"), new_season_path, class: 'blue-text' %>
          </div>
          <ul class="list-group">
            <% @seasons.each do |season| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <%= season.title %>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_season_path(season), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), season_path(season), class: 'red-text',
                              method: :delete,
                              data: { confirm: 'Вы уверены, что хотите удалить данный сезон?' } %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 row">
            <h4>Лиги</h4>
            <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"></i>"), new_league_path, class: 'blue-text' %>
          </div>
          <ul class="list-group">
            <% @leagues.each do |league| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-6">
                  <%= league.title %>
                </div>
                <div class="col-md-6 text-right">
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_league_path(league), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), league_path(league), class: 'red-text',
                                method: :delete,
                                data: { confirm: 'Вы уверены, что хотите удалить данную лигу из списка?' } %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 row">
            <h4>Матчи</h4>
            <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"></i>"), new_match_path, class: 'blue-text' %>
          </div>
          <ul class="list-group">
            <% @matches.each do |match| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-9">
                  <%= match.title %> <br>
                  <small><%= match.datatime %></small> <br>
                  <small><%= match.description %></small>
                </div>
                <div class="col-md-3 text-right">
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_match_path(match), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), match_path(match), class: 'red-text',
                              method: :delete,
                              data: { confirm: 'Вы уверены, что хотите удалить данный матч?' } %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="col-md-6">
          <div class="col-md-12 row">
            <h4>Теги</h4>
            <%= link_to raw("<i class="'\'fa fa-plus-circle\''" style="'\'margin-top:10px\''" aria-hidden="'\'true\''"></i>"), new_tag_path, class: 'blue-text' %>
          </div>
          <ul class="list-group">
            <% @tags.each do |tag| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-9">
                  <%= tag.title %> <br>
                  <small><%= tag.description %></small>
                </div>
                <div class="col-md-3 text-right">
                  <%= link_to raw("<i class="'\'fa fa-pencil\''" aria-hidden="'\'true\''"></i>"), edit_tag_path(tag), class: 'orange-text' %>
                  <%= link_to raw("<i class="'\'fa fa-trash\''" aria-hidden="'\'true\''"></i>"), tag_path(tag), class: 'red-text',
                              method: :delete,
                              data: { confirm: 'Вы уверены, что хотите удалить данный тег?' } %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  h4 {
    margin-top: 10px;
  }

  .btn {
    margin-left: 0px;
  }

  i {
    margin-left: 7px;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
</style>