<%= form_with model: @users, class: "border border-light p-5", local: true do |form| %>
  <h5>Доступ к панели администратора</h5>
  <%= @users.fio %>&nbsp;(<%= @users.email %>) <br>
    <%= form.radio_button :is_admin, 0 %> Запретить <br>
    <%= form.radio_button :is_admin, 1 %> Разрешить
  <% if @users.errors[:is_admin].any? %>
    <div id="error_explanation" class="text-left orange-text">
      <ul style="list-style-type: none; padding-left: 0">
        <% @users.errors.full_messages_for(:title).each do |msg| %>
          <li><small><%= msg %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.submit 'Подтвердить', class: 'btn btn-info btn-block my-4' %>
<% end %>

<style>
  html, body {
    height: 100%;
    position: relative;
  }
  footer {
    position: absolute;
    width: 100%;
  }
</style>