<div class="container">
  <h1>Список пользователей</h1>
  <div class="md-form mt-0">
    <input class="form-control" id="listSearch" type="text" placeholder="Искать" aria-label="Search">
  </div>
  <ul class="list-group" id="myList">
    <% @users.each do |user| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <%= user.fio %> <br>
          <small><%= user.email %></small> <br>
          <% if user.is_admin? %>
          <small>Доступ разрешен</small>
          <% else %>
          <small>Доступ запрещен</small>
          <% end %>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to 'Изменить', edit_user_path(user), class: 'btn btn-sm btn-warning btn-rounded' %>
          <%= link_to 'Удалить', user_path(user), class: 'btn btn-sm btn-danger btn-rounded',
                          method: :delete,
                          data: { confirm: 'Вы уверены, что хотите удалить пользователя из списка?' } %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#listSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myList li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>