<div class="container">
  <h1>Список команд</h1>
  <%= link_to 'Добавить тег', new_tag_path, class: 'btn btn-sm btn-primary btn-rounded' %>
  <div class="md-form mt-0">
    <input class="form-control" id="listSearch" type="text" placeholder="Искать" aria-label="Search">
  </div>
  <ul class="list-group" id="myList">
    <% @tags.each do |tag| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <%= tag.title %> <br>
          <small><%= tag.description %></small>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to 'Изменить', edit_tag_path(tag), class: 'btn btn-sm btn-warning btn-rounded' %>
          <%= link_to 'Удалить', tag_path(tag), class: 'btn btn-sm btn-danger btn-rounded',
                          method: :delete,
                          data: { confirm: 'Вы уверены, что хотите удалить данный тег из списка?' } %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#listSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myList li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>