<div class="container col-md-4" style="margin-top: 20px;">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'text-center border shadow p-3 mb-5 bg-white rounded'}) do |f| %>
    <h2><%= t('.sign_in') %></h2>
    <div class="form-row mb-4">
      <div class="col">
        <h6>Электронная почта<span class="red-text" title="Обязательно для заполнения">*</span></h6>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>

    <div class="form-row mb-4">
      <div class="col">
        <h6>Пароль<span class="red-text" title="Обязательно для заполнения">*</span></h6>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль' %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-row mb-4" style="margin-bottom: 10px !important;">
        <div class="col">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit t('.sign_in'), class: 'btn btn-info my-4 btn-block', style: 'margin-top: 0px !important; margin-bottom: 10px !important;' %>
    </div>

    <%= render "devise/shared/links" %>
  <% end %>

</div>
