<%= form_with model: @matches, class: "border border-light p-5 row col-md-12", local: true do |form| %>
  <div class="col-md-12">
    <h3>Информация о матче</h3>
  </div>
  <div class="col-md-6">
    <h5>Название матча<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.text_field :title, class: 'form-control mb-4', placeholder: 'Наименование', id: 'team'%>
    <% if @matches.errors[:title].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:title).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h5>Дата проведения<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.datetime_local_field :datatime, class: 'form-control mb-4', placeholder: 'Дата и время'%>
    <% if @matches.errors[:datatime].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:datatime).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <h5>Описание матча</h5>
    <%= form.text_area :description, class: 'form-control mb-4', placeholder: 'Описание'%>
  </div>
  <div class="col-md-3">
    <h5>Сезон<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.collection_select(:season_id, Season.all, :id, :title, { prompt: "Выберите сезон" }, { :class => "form-control mb-4 browser-default custom-select" })%>
    <% if @matches.errors[:season_id].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:season_id).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <h5>Лига<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.collection_select(:league_id, League.all, :id, :title, { prompt: "Выберите лигу" }, { :class => "form-control mb-4 browser-default custom-select" })%>
    <% if @matches.errors[:league_id].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:league_id).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <h5>Тур</h5>
    <%= form.select(:tour, [['Финал', 'Финал'], ['Preliminary Round', 'Preliminary Round'], ['Placement Matches', 'Placement Matches'], ['Main Group', 'Main Group'], ['Groups', 'Groups']], {prompt: "Выберите тур"}, {:class => "form-control mb-4 browser-default custom-select" }) %>
    <br>
  </div>
  <div class="col-md-3">
    <h5>Соревнование</h5>
    <%= form.text_field :competition, class: 'form-control mb-4', placeholder: 'Соревнование'%>
  </div>
  <div class="col-md-12">
    <h3 style="margin-top: 15px;">Команды матча</h3>
  </div>
  <div class="col-md-9">
    <h5>Команды<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <% if @matches.errors[:team_ids].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:team_ids).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <div class="row" style="padding-left: 20px; padding-right: 20px;">
        <%= form.collection_check_boxes :team_ids, Team.all, :id, :title, { :max => 2 } do |b| %>
          <div class="collection-check-box" style="width: 170px">
            <%= b.check_box({:class => 'tms'}) %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h5>Пол<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.select(:gender, [['Мужчины', 'Мужчины'], ['Женщины', 'Женщины'], ['Смешанный', 'Смешанный']], {prompt: "Выберите пол"}, {:class => "form-control mb-4 browser-default custom-select" }) %>
    <% if @matches.errors[:gender].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:gender).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <br>
  </div>
  <div class="col-md-12">
    <h3 style="margin-top: 20px;">Видео</h3>
  </div>
  <div class="col-md-6">
    <h5>Ссылка на видео<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.text_field :url, class: 'form-control mb-4', placeholder: 'Ссылка на видео'%>
    <% if @matches.errors[:url].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:url).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h5>Тип видео<span class="red-text" title="Обязательно для заполнения">*</span></h5>
    <%= form.collection_select(:post_type_id, PostType.all, :id, :title, { prompt: "Выберите тип поста" }, { :class => "form-control mb-4 browser-default custom-select" })%>
    <% if @matches.errors[:post_type_id].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:post_type_id).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="col-md-12">
    <h3 style="margin-top: 15px;">Теги<span class="red-text" title="Обязательно для заполнения">*</span></h3>
    <% if @matches.errors[:tag_ids].any? %>
      <div id="error_explanation" class="text-left orange-text">
        <ul style="list-style-type: none; padding-left: 0">
          <% @matches.errors.full_messages_for(:tag_ids).each do |msg| %>
            <li><small><%= msg %></small></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <div class="row" style="padding-left: 20px; padding-right: 20px;">
        <%= form.collection_check_boxes :tag_ids, Tag.all, :id, :title, { :max => 2 } do |b| %>
          <div class="collection-check-box" style="width: 150px">
            <%= b.check_box({:class => 'tgs'})%>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= form.submit 'Подтвердить', class: 'btn btn-info btn-block my-4' %>
<% end %>

<style>
  /*.form-control {*/
  /*  margin-bottom: 5px !important;*/
  /*}*/
    span {
      cursor: default;
    }
</style>