<div class="container">
  <h1>Список матчей</h1>
  <%= link_to 'Добавить матч', new_match_path, class: 'btn btn-sm btn-primary btn-rounded' %>
  <div class="md-form mt-0">
    <input class="form-control" id="listSearch" type="text" placeholder="Искать" aria-label="Search">
  </div>
  <ul class="list-group" id="myList">
    <% @matches.each do |match| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-6">
          <div class="row col-md-12">
            <% match.teams.each_with_index { |team, i| %>
            <% if i == 0 %>
            <h5 style="margin-bottom: 0px"><%= team.title %>&nbsp;vs&nbsp;</h5>
            <% else %>
            <h5 style="margin-bottom: 0px"><%= team.title %></h5>
            <% end %>
            <% } %>
          </div>
          <small><%= match.datatime %></small> <br>
          <small><%= match.description %></small> <br>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to 'Изменить', edit_match_path(match), class: 'btn btn-sm btn-warning btn-rounded' %>
          <%= link_to 'Удалить', match_path(match), class: 'btn btn-sm btn-danger btn-rounded',
                        method: :delete,
                        data: {confirm: 'Вы уверены, что хотите удалить матч?'} %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $("#listSearch").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myList li").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>