<div class="container">
  <div class="right">
    <%= link_to 'Назад', matches_path, class: 'btn btn-sm btn-info btn-rounded' %>
    <%= link_to 'Изменить', edit_match_path(params[:id]), class: 'btn btn-sm btn-warning btn-rounded' %>
  </div>
  <div class="row main">
    <div class="col-md-8">
      <p>Здесь будет плеер</p>
      <p><%= @matches.url %></p>
    </div>
    <div class="col-md-4">
      <div class="blue-grey" style="padding: 15px 15px 15px 15px">
        <small class="white-text"><%= @matches.datatime %></small>
        <div class="row" style="padding: 5px 15px 5px 15px">
          <% @matches.teams.each_with_index { |team, i| %>
          <% if i == 0 %>
          <h5 class="white-text" style="margin-bottom: 0px"><%= team.title %>&nbsp;vs&nbsp;</h5>
          <% else %>
          <h5 class="white-text" style="margin-bottom: 0px"><%= team.title %></h5>
          <% end %>
          <% } %>
        </div>
        <p class="white-text" style="margin-bottom: 10px; font-size: 12px"><%= @matches.description %></p>
        <% @matches.tags.each { |tag| %>
        <span class="badge badge-pill badge-primary">#<%= tag.title %></span>
        <% } %>
        <br>
        <div class="row" style="padding: 10px 15px 5px 15px">
          <small class="white-text"><%= @matches.post_type.title %></small>
        </div>
      </div>
      <div>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Лига</td>
              <td class="text-right"><%= @matches.league.title %></td>
            </tr>
            <tr>
              <td>Соревнование</td>
              <td class="text-right"><%= @matches.competition %></td>
            </tr>
            <tr>
              <td>Сезон</td>
              <td class="text-right"><%= @matches.season.title %></td>
            </tr>
            <tr>
              <td>Тур</td>
              <td class="text-right"><%= @matches.tour %></td>
            </tr>
            <tr>
              <td>Тип команды</td>
              <td class="text-right"><%= @matches.gender %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  span {
    cursor: pointer;
  }

  .main {
    margin-bottom: 13px;
  }

  small,
  p,
  h5 {
    cursor: default;
  }
</style>