// Place all the styles related to the application::index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    margin: 0 !important;
    padding: 0 !important;
}
// header
section.header{
    color:white;
    background-image: asset-data-url("backgroundHeader.png");
    background-size: cover;
    
}
.topBar{
    display: inline-block;
    margin: 5px 17% 10px 17%;
    width: 65%;
    padding-top: 17px;
}
.topBar > .headerTopList{
    display: inline-block;
    width: max-content;
    padding-left: 0;
    margin: 0 auto 0 auto;
}
.topBar > .headerTopList > li{
    list-style-type: none;
    display: inline-block;
    border-right: 1px solid white;
    padding: 0 12px 0 10px;
    
}
.topBar > .headerTopList > li:last-child{
    border-right: none;
}
.topBar > .headerTopList > li a, .topBar > .headerTopList > li a:visited,.topBar > .headerTopList > li a:active{
    text-decoration: none;
    color: white;
}
.topBar > .socialmediasIcons{
    display: inline-block;
    vertical-align: middle;
    
    min-width: 25%;
    width: max-content;
    float: right;
}
.topBar > .socialmediasIcons > a{
    background: #213a62;
    
    margin-right: 3%;
    height: 26px;
    width: 26px;
}
.topBar > .socialmediasIcons > a > img{
    
    background: white;
    padding: 5px;
    border-radius: 20px; 
}
.topBar > .languages{
    display: inline-block;
    width: max-content;
    margin-left:1%;
    float: right;
}
.topBar > .languages > ul{
    padding-left: 0;
    margin-top: 3px;
    margin-bottom: auto;
}
.topBar > .languages > ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 0 12px 0 10px;
}
.topBar > .languages > ul > li a, .topBar > .languages > ul > li a:visited,.topBar > .languages > ul > li a:active{
    text-decoration: none;
    color: white;
}

.topBar > .languages > ul > li:first-child{
    border-right: 1px solid white;
    
}
.topBar > .searchBar{
    margin-left: 2%;
    display: inline-block;
    width: max-content;
    position: relative;
    float: right;
    vertical-align: center;
}

.topBar > .searchBar > .searchForm > input{
    padding: 5px 0px 5px 10px;
    background-color: rgba(255,255,255,0.3);
    color: white;
    border: 0;
    position: relative;
    cursor: pointer;
}

.topBar > .searchBar > .searchForm > .searchBtn{
    position: absolute;
    top:0;
    right: 0;
    background: none;
    border: 0;
    height: 100%;
    cursor: pointer;
}
.headerInformation{
    display: inline-block;
    margin: 5px 17% 10px 17%;
    width: 65%;
}

.headerInformation > .logo{
    width: max-content;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.headerInformation > .logo > nav{
    display: inline-block;
    width: 60%;
    margin-left: 5%;
    float: right;
    text-align: end;
}
.headerInformation > .logo > nav > ul{
    padding-left: 0;
}
.headerInformation > .logo > nav > ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 0 1% 0 1%;
}
.headerInformation > .logo > nav > ul > li a, .headerInformation > .logo > nav > ul > li a:visited,.headerInformation > .logo > nav > ul > li a:active{
    text-decoration: none;
    color: white;
}
.gamesHeader{
    position: relative;
}
.gamesHeader > .scrollGames {
    position: relative;
    display: inline-block;
    width: 65%;
    height: max-content;
    float: left;
}
.gamesHeader > .scrollGames > a > img{
    width: 100%;
    height: auto;
    max-height: 440px;
}
.gamesHeader > .liveBroadcastsHeader{
    position: relative;
    display: inline-block;
    width: 33%;
    margin-left: 2%;
    height: 100%;
    max-height: 440px;
    vertical-align: top;
}
.gamesHeader > .liveBroadcastsHeader > .headerOfLiveBroadcasts{
    width: 100%;
    background: white;
    position: relative;
    top: 0;
}
.gamesHeader > .liveBroadcastsHeader > .headerOfLiveBroadcasts a{
    width: 45%;
    display: inline-block;
    margin: 2% 2% 2% 2%;
    text-decoration: none;
    padding: 10px 0 10px 0;
    font-size: 14px;
}
.gamesHeader > .liveBroadcastsHeader > .headerOfLiveBroadcasts p{
    width: 45%;
    display: inline-block;
    margin: 2% 2% 2% 2%;
    text-decoration: none;
    padding: 10px 0 10px 0;
    font-size: 14px;
    color:#545568;
}
.gamesHeader > .liveBroadcastsHeader > .headerOfLiveBroadcasts a:visited,.lastGamesHeader > .liveBroadcastsHeader > .headerOfLiveBroadcasts a:active{
    color:#545f97;
}

.gamesHeader > .liveBroadcastsHeader > .headerOfLiveBroadcasts a:last-child{
    text-align: end;
    float: right;
}
.gamesHeader > .liveBroadcastsHeader > .listLiveBroadcasts{
    position: relative;
    display: inline-block;
    padding: 39% 0;
    background: #f0f0f0;
    color: #54556b;
    text-align: center;
}
.gamesHeader > .liveBroadcastsHeader > .listLiveBroadcasts ul{
    clear: both;
    padding-left: 0;
}
//      Body
section.body{
    background: rgba(190, 190, 190, 0.9);
}
.gameFilters{
    position: relative;
    display: inline-block;
    background: white;
    margin: 0px 17% 0px 17%;
    width: 65%;
}
.gameFilters > .filters{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.gameFilters > .filters > ul{
    padding: 0;
}
.gameFilters > .filters > ul > li{
    position: relative;
    display: inline-block;
    background: #0c69b1;
    color: white;
    padding: 5px 20px 5px 20px;
    width: 10%;
    margin: 0 5% 0 0;
    border-radius: 8px;
}
.gameFilters > .filters > ul > li:first-child{
    margin-left: 5%;
}
.gameFilters > .filters > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    background-color: #0c69b1;
    padding: 12px 16px;
    z-index: 1;
    overflow: auto;
    max-height: 200px;
}
.gameFilters > .filters > ul > li > ul > li{
    list-style-type: none;
    text-decoration: none;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
}
.gameFilters > .filters > ul > li > ul > li:first-child{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.gameFilters > .filters > ul > li > ul > li > a{
    text-decoration: none;
    color: white;
    width: 100%;
}
.gameFilters > .filters > ul > li > ul > li > a:active, .gameFilters > .filters > ul > li > ul > li > a:visited{
    color: white;
}
.gameFilters > .filters > ul > li:hover .dropdown-content{
    display: block;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
//  Стилизация скролбара для фильтров игр
    ::-webkit-scrollbar-button {
        background-image:url('');
        background-repeat:no-repeat;
        width:2px;
        height:0px
    }
    
    ::-webkit-scrollbar-track {
        background-color:#00447a;
        box-shadow:0px 0px 3px #000 inset;
    }
    
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color:#8fb3cf;
        background-position:center;
        background-repeat:no-repeat;
    }
    
    ::-webkit-resizer{
        
        background-repeat:no-repeat;
        width:4px;
        height:0px
    }
    
    ::-webkit-scrollbar{
        width: 4px;
    }

//  Стилизация части с прошедшими матчами

.games{
    position: relative;
    display: inline-block;
    background: white;
    margin: 0px 17% 0px 17%;
    width: 65%; 
    padding-bottom: 2%; 
}

.games > .listGames > .game{
    display: inline-block;
    width: 25%;
    margin: 2% 4% 2% 4%;
}
.games > .listGames > .game > .gameLogo > a > img{
    width: 100%;

}
.games > .listGames > .game > .gameInfo{
    border-bottom: 3px solid rgba(122, 122, 122, 0.9);
    font-size: 12px;
    
}
.games > .listGames > .game > .gameInfo > p{
    margin: 0;
}
.games > .listGames > .game > .gameInfo > p:last-child{
    font-size: 16px;
}
.games > .listGames > .game > .gameInfo > p > a{
    list-style-type: none;
    text-decoration: none;
    
}
.games > .listGames > .game > .gameInfo > p > a:visited, .games > .listGames > .game > .gameInfo > .leageGame > a:active{
    color: #0c69b1;
    
}

// Footer
section.footer{
    background-image: asset-data-url("backgroundFooter.png");
    background-size: cover;
    color: white;
}
.footerContent{
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin: 5px 15% 10px 15%;
    width: 70%; 
    
}
.footerContent ul li{
    list-style-type: none;
    text-decoration: none;
    width: max-content;
}

.footerContent > .footerInformationAbout{
    display: inline-block;
    width: 50%;
}
.footerContent > .footerInformationAbout > ul{
    width: 40%;
    display: inline-block;
    padding: 0;
    float: left;
    margin: 2% 5% 2% 5%;
}
.footerContent > .footerInformationAbout > ul > li a, .footerContent > .socialmediasFooterLinks > ul > li a{
    text-decoration: none;
}
.footerContent > .footerInformationAbout > ul > li a:after, .footerContent > .socialmediasFooterLinks > ul > li a:after{
    color: white;
    background-color: white;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width 0.9s ease-in-out;
    -moz--transition: width 0.9s ease-in-out;
    transition: width 0.9s ease-in-out;
    
}
.footerContent > .footerInformationAbout > ul > li a:hover:after, .footerContent > .socialmediasFooterLinks > ul > li a:hover:after,.footerContent > .footerInformationAbout > ul > li a:focus:after, .footerContent > .socialmediasFooterLinks > ul > li a:focus:after{
    width: 100%;
}
.footerContent  ul li a:visited, .footerContent  ul li a:active{
    color: white;
    
}
.footerContent > .footerInformationAbout > ul > li{
    margin-bottom: 1%;
}
.footerContent > .footerInformationAbout > ul > li:first-child{
    margin-top: 2%;

}
.footerContent > .socialmediasFooterLinks{
    display: inline-block;
    width: 49%;
    float: right;
}
.footerContent > .socialmediasFooterLinks > ul{
    padding: 0;
    float: left;
}
.footerContent > .socialmediasFooterLinks > ul > li{
    margin-bottom: 1%;
}
.footerContent > .socialmediasFooterLinks > ul > li:first-child{
    margin-top: 2%;

}
.footerContent > .toTheTop{
    background: none;
    
    color: white;
    text-align: center;
    width: max-content;
    margin: 4% auto 1% auto;
    padding-bottom: 2%;
}
.footerContent > .toTheTop > a{
    opacity: 0.7;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 35px 10px 35px;
    
    border: 1px solid rgba(122, 122, 122, 0.9);
}
.footerContent > .toTheTop > a:visited, .footerContent > .toTheTop > a:active{
    color: white;
}
