<!DOCTYPE html>
<html>

<head>
  <title>RailsDockerApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'userLayout', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <%= link_to 'Russian Handball', {controller: 'admin'}, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Матчи', {controller: 'matches'}, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Команды', {controller: 'teams'}, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Лиги', {controller: 'leagues'}, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Сезоны', {controller: 'seasons'}, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Типы поста', {controller: 'post_types'}, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Теги', {controller: 'tags'}, class: 'nav-link'%>
        </li>
        <li class="nav-item">
          <%= link_to 'Пользователи', {controller: 'users'}, class: 'nav-link'%>
        </li>
      </ul>
      <%= button_to "Выйти", destroy_user_session_path, :method => :delete, class: 'btn btn-sm btn-default btn-rounded' %>
    </div>
  </nav>
  <br>
  <%= yield %>
  <br>
  <footer class="page-footer font-small primary-color darken-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 py-5">
          <div class="mb-5 flex-center">
            <a class="fb-ic">
              <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="tw-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="ins-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <a class="pin-ic">
              <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> Russian Handball</a>
    </div>
  </footer>
</body>

</html>