<!DOCTYPE html>
<html>

<head>
  <title>RailsDockerApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'userLayout', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!-- Верхняя часть сайта(всё, что до начала блока с белым фоном) -->
  <section class="header">
    <!-- Верхняя плашка выбора -->
    <div class="topBar">
      <!-- Выбор чемпионатов (пока что простым списком) -->
      <ul class="headerTopList">
        <li><a href="" class="headerTopListType">Чемпионат России</a></li>
        <li><a href="" class="headerTopListType">Кубок России</a></li>
        <li><a href="" class="headerTopListType">Сборная</a></li>
        <% if user_signed_in? %>
        <%= button_to "Выйти", destroy_user_session_path, :method => :delete, class: 'btn btn-sm btn-default btn-rounded' %>
        <% else %>
        <% end %>
      </ul>
      <!-- Поле поиска по сайту(кнопку поиска нужно переделать,чтобы воспринимала клик по ней) -->
      <div class="searchBar">
        <form class="searchForm">
          <button class="searchBtn"><%= image_tag("search.png", :alt => "icon", :width => "16", :height => "16") %></button>
          <input name="searchText" type="text" size="20" placeholder="Поиск...">

        </form>

      </div>
      <!-- Выбор языков сайта(пока простым списком) -->
      <div class="languages">
        <ul>
          <li><a href="">RU</a></li>
          <li><a href="">EN</a></li>
        </ul>
      </div>
      <!-- Иконки социальных сетей -->
      <div class="socialmediasIcons">
        <a href="" alt="..."><%= image_tag("facebook.png", :alt => "icon",:width => "16", :height => "16") %></a>
        <a href="" alt="..."><%= image_tag("twitter.png", :alt => "icon",:width => "16", :height => "16") %></a>
        <a href="" alt="..."><%= image_tag("youtube.png", :alt => "icon",:width => "16", :height => "16") %></a>
        <a href="" alt="..."><%= image_tag("instagram.png", :alt => "icon",:width => "16", :height => "16") %></a>
        <a href="" alt="..."><%= image_tag("telegram.png", :alt => "icon",:width => "16", :height => "16") %></a>
        <a href="" alt="..."><%= image_tag("odnoklassniki.png", :alt => "icon",:width => "16", :height => "16") %></a>
        <a href="" alt="..."><%= image_tag("vk.png", :alt => "icon",:width => "16", :height => "16") %></a>
      </div>


    </div>
    <!-- Логотип сайта и основная навигационая панель(навигационная панель пока тоже простым списком) -->
    <div class="headerInformation">
      <div class="logo">
        <a href="" alt="..."><%= image_tag("mainLogo.png", :alt => "logo") %></a>
        <nav>
          <ul>
            <li><a href="">СУПЕРЛИГА ПАРИМАТЧ</a></li>
            <li><a href="">КУБОК РОССИИ</a></li>
            <li><a href="">ПЕРВЕНСТВО (МОЛ.)</a></li>
            <li><a href="">СБОРНАЯ</a></li>
          </ul>
        </nav>

      </div>
      <!-- Горизонтальная прокрутка и список прямых эфиров -->
      <div class="gamesHeader">
        <div class="scrollGames">
          <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>

        </div>
        <div class="liveBroadcastsHeader">
          <div class="headerOfLiveBroadcasts">
            <p>Прямые трансляции </p>
            <a href="" class="">Показать все ></a>
          </div>
          <div class="listLiveBroadcasts">
            <ul> В текущий момент нет запланированных прямых трансляций </ul>
          </div>
        </div>
      </div>
    </div>


  </section>
  <section class="body">
    <div class="gameFilters">
      <nav class="filters">
        <ul>
          <li class=dropdown>Пол
            <ul class="dropdown-content">
              <li><a href="">Женщины</a></li>
              <li><a href="">Мужчины</a></li>
            </ul>
          </li>
          <li class=dropdown>Сезоны
            <ul class="dropdown-content">
              <li><a href="">2019/2020</a></li>
              <li><a href="">2019</a></li>
              <li><a href="">2018/2019</a></li>
              <li><a href="">2017/18</a></li>
              <li><a href="">2016/17</a></li>
            </ul>
          </li>
          <li class=dropdown>Туры
            <ul class="dropdown-content">
              <li><a href="">Final</a></li>
              <li><a href="">Preliminary round</a></li>
              <li><a href="">Placement matches</a></li>
              <li><a href="">Main Groups</a></li>
              <li><a href="">Groups</a></li>
            </ul>
          </li>
          <li class=dropdown>Лиги
            <ul class="dropdown-content">
              <li><a href="">Кубор россии (мужчины)</a></li>
              <li><a href="">Кубор россии (женщины)</a></li>
              <li><a href="">Первенство (мол) Мужчины</a></li>
              <li><a href="">Первенство (мол) Женщины</a></li>
              <li><a href="">СуперЛига мужчины</a></li>
              <li><a href="">СуперЛига женщины</a></li>
            </ul>
          </li>
          <li class=dropdown>Команды
            <ul class="dropdown-content">
              <li><a href="">ЦСКА</a></li>
              <li><a href="">Динамо</a></li>
              <li><a href="">Олимп</a></li>
              <li><a href="">Lada 2</a></li>
              <li><a href="">Кубань</a></li>
              <li><a href="">Лада</a></li>
              <li><a href="">Луч</a></li>
              <li><a href="">Спартак</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="games">
      <div class="pagination">

      </div>
      <div class="listGames">
        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

        <div class="game">
          <div class="gameLogo">
            <a href="" alt="..."><%= image_tag("matchLogo.jpg", :alt => "logo") %></a>
          </div>
          <div class="gameInfo">
            <p class="dateTimeGame">15.03.2020 15:00</p>
            <p class="leageGame"><a href="">Кубок россии</a></p>
            <p class="teamsGame">Чеховские медведи - Спартак</p>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="footer">
    <div class="footerContent">
      <div class="footerInformationAbout">
        <ul>Russian Handball Federation TV @2020
          <li><a href="">&#x203A; О Федерации</a></li>
          <li><a href="">&#x203A; Условия использования</a></li>
          <li><a href="">&#x203A; Список cookies</a></li>
          <li><a href="">&#x203A; Политика конфиденциальности</a></li>
        </ul>
        <ul>Полезные ссылки
          <li><a href="">&#x203A; www.rushandball.ru</a></li>
        </ul>
      </div>
      <div class="socialmediasFooterLinks">
        <ul>Следите за новостями в соц.сетях
          <li><a href="">&#x203A; Страница ФГР в Facebook</a></li>
          <li><a href="">&#x203A; Страница ФГР в Twitter</a></li>
          <li><a href="">&#x203A; Страница ФГР в Instagram</a></li>
          <li><a href="">&#x203A; Страница ФГР Вконтакте</a></li>
          <li><a href="">&#x203A; Страница ФГР в Одноклассниках</a></li>
        </ul>
      </div>
      <div class="toTheTop">
        <a href="#"> НАВЕРХ </a>
      </div>
    </div>

  </section>

</body>

</html>